<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> FLOW </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 0px">
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #settings="matMenu">
                        <button mat-menu-item (click)="alterarCadastro()">
                            Alterar cadastro
                        </button>
                        <button mat-menu-item (click)="tiposUrgencias()">
                            Cadastrar novo tipo urgência
                        </button>
                        <button mat-menu-item>
                            Qualquer coisa
                        </button>
                        <button mat-menu-item>
                            Mais alguma coisa
                        </button>
                    </mat-menu>
                </li>

                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>

                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="sair()" >
                            <mat-icon>exit_to_app</mat-icon>
                            Sair
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
