/* You can add global styles to this file, and also import other style files */

mat-form-field {
  width: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
}

.img-thumbnail-error {
    background-image: url("./assets/images/img-error.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
